<configuration>
    <!-- Appender para arquivo -->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logback/logs/app.log</file>
        <append>true</append> <!-- Mantém logs anteriores e adiciona novos logs -->
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Appender para console -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%yellow(%d{ISO8601}) %highlight(%-5level) [%blue(%thread)] %red(%logger{36}) - %msg%n%throwable</pattern>
        </encoder>
    </appender>

    <!-- Logger específico para pacotes com nível DEBUG -->
    <logger name="com.testesperformance.exemplo" level="DEBUG" additivity="false">
        <appender-ref ref="FILE" />
    </logger>

    <logger name="com.testesperformance.exemplo" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <!-- Logger para frameworks e bibliotecas com nível WARN -->
    <logger name="org.springframework" level="WARN" />
    <logger name="org.hibernate" level="WARN" />

    <!-- Logger raiz configurado para registrar no arquivo e no console -->
    <root level="INFO">
        <appender-ref ref="FILE" />
        <appender-ref ref="STDOUT" />
    </root>
</configuration>